<footer class="text-center">
  <h5>Coded by
    <a target="_blank" rel="noreferrer noopener" href="http://www.scottiecrump.com/#/">Scottie Crump</a>
  </h5>
</footer>
<script src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>