<% include partials/header.ejs %>
  <body class="login-body">
    <% include partials/navigation.ejs %>

    <main class="container text-center">
        <i class="fa fa-5x fa-address-book"></i>
          <form class="form-signin">
            <a href="/auth/google" class="btn btn-block btn-social btn-google">
              <span class="fa fa-google"></span>
              Sign in with Google
            </a>
          </form>
      </main> <!-- /container -->
    <% include partials/footer.ejs %>
