<% include partials/header.ejs %>
<body>
<main class="container text-center">
  <h1>Logged out</h1>
  <p class="lead">You've been sucessfully logged out.</p>

</main>

<% include partials/footer.ejs %>
